.inputWrap {
  position: relative;
  display: inline-block;
  .input {
    position: relative;
    z-index: 10;
    border: 0;
    background: transparent;
    outline: none;
    &::placeholder {
      color: transparent;
    }
    &:placeholder-shown + .label {
      transform: translate(0, 0);
    }
    &:focus + .label {
      transform: translate(5px, -12px);
    }
    &:focus::placeholder {
      color: #000;
    }
  }

  .label {
    position: absolute;
    top: 5px;
    left: 15px;
    transform: translate(5px, -12px);
    transition: 0.2s transform;
  }
  .fieldset {
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    border-radius: 4px;
    box-sizing: border-box;
    legend {
      visibility: hidden;
      padding: 0 5px;
    }
  }
}
