.button {
  font-weight: 700;
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  background: #2563eb;
  color: "#F3F4F6";
}

.small {
  padding: 10px;
}

.medium {
  padding: 20px;
}

.large {
  padding: 30px;
}
